# Dependency directories
node_modules/
videos/
reports/
target/
screenshots/
build/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Compiled class file
*.class

# Log files
*.log

# IDEs
.idea/
*.iml
*.swp
*.swo
.vscode

# Outros arquivos temporários
*.tmp

# Outros arquivos
package-lock.json

1-getting-started
2-advanced-examples

*.xlsx